{% extends "layoutBase.html.j2" %}
{% block title %}Create PMU Average Report{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
    h3 {
    color : black;
    }
</style>
<h1><strong>Display PMU Availability Data</h1>
<form class="form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control bg-light border-1 mr-2" name = "startDate" id="startDate" {% if startDate %} value="{{startDate}}" {% endif %}>
        </div>
        <div class="form-group col-md-6">
        <label for="endDate">End Date</label>
        <input type="date" name = "endDate" class="form-control" id="endDate" {% if endDate %} value="{{endDate}}" {% endif %}>
        </div>
    </div>
    <input type="submit" class = "btn btn-success" value="submit">
</form>

{% if data %}
    <div>
        <table id="example" class="table table-bordered table-hover display w-auto"  style="color: black">
            <thead>
                <tr>
                <th class="th-sm">PMU LOCATION</th>
                <th class="th-sm">AVG(AVAILABILITY %)</th>
                <th class="th-sm">Days(Data Present)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <th>{{row['pmu_location']}}</th>
                    <th>{{row['avg_availability_perc']}}</th>
                    <th>{{row['days_count']}}</th>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                <th class="th-sm">PMU LOCATION</th>
                <th class="th-sm">AVG(AVAILABILITY %)</th>
                <th class="th-sm">Days(Data Present)</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endif %}

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
    <script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function () {
            //var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search" />');
        });
        var filesTable = $('#example').DataTable({
            fixedHeader: true,
            "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
            "pageLength": 50,
            dom: 'Bfrtip',
            "order": [[0, "asc"]],
            buttons: ['pageLength', 'csv', 'excel', 'pdf', 'print']
        });
        var r = $('#example tfoot tr');
        r.find('th').each(function () {
            $(this).css('padding', '3px');
        });
        $('#example thead').append(r);
        // Apply the filter
        // https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/examples/api/multi_filter.html
        $("#example thead input").on('keyup change', function () {
            filesTable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });
    });
    </script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }
    </style>

{% endblock %}