{% extends "layoutBase.html.j2" %}
{% block title %}PMU PLOT{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
    h3 {
    color : black;
    border: 0.4rem solid transparent;
    /* width: 8em;
    height: 10em; */
    max-height: 30em;
    overflow: auto;
    font-size: 1.5rem;
    padding: 1rem;
    }
</style>
<h1><strong>Display PMU Data Graph</h1>
<form class="form" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control bg-light border-1 mr-2" name = "startDate" id="startDate" {% if startDate %} value="{{startDate}}" {% endif %}>
        </div>
        <div class="form-group col-md-6">
        <label for="endDate">End Date</label>
        <input type="date" name = "endDate" class="form-control" id="endDate" {% if endDate %} value="{{endDate}}" {% endif %}>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
        <label for="pmu">Choose PMU LOCATION(s):</label>
        <select multiple class="chosen-select" name="pmu" id="pmu1" style="color:black" placeholder="Select pmu here..">
            <option value="MPUSA_PGPM01">MPUSA_PGPM01</option>
            <option value="JBLPR_PGPM01">JBLPR_PGPM01</option>
            <option value="JBLPR_PGPM02">JBLPR_PGPM02</option>
            <option value="JBLPR_PGPM03">JBLPR_PGPM03</option>
            <option value="JBLPR_PGPM04">JBLPR_PGPM04</option>
            <option value="JBLPR_PGPM05">JBLPR_PGPM05</option>
            <option value="KALA4_PGPM01">KALA4_PGPM01</option>
            <option value="KALA4_PGPM02">KALA4_PGPM02</option>
            <option value="KAWAS_GSPM01">KAWAS_GSPM01</option>
            <option value="KAWAS_GSPM02">KAWAS_GSPM02</option>
            <option value="KAWAS_GSPM03">KAWAS_GSPM03</option>
            <option value="KHNDW_PGPM01">KHNDW_PGPM01</option>
            <option value="KHNDW_PGPM02">KHNDW_PGPM02</option>
            <option value="KHNDW_PGPM03">KHNDW_PGPM03</option>
            <option value="KHNDW_PGPM04">KHNDW_PGPM04</option>
            <option value="KHNDW_PGPM05">KHNDW_PGPM05</option>
            <option value="KHNDW_PGPM06">KHNDW_PGPM06</option>
            <option value="DRMGH_PGPM01">DRMGH_PGPM01</option>
            <option value="DRMGH_PGPM02">DRMGH_PGPM02</option>
            <option value="DRMGH_PGPM03">DRMGH_PGPM03</option>
            <option value="DRMGH_PGPM04">DRMGH_PGPM04</option>
            <option value="DRMGH_PGPM05">DRMGH_PGPM05</option>
            <option value="DRMGH_PGPM06">DRMGH_PGPM06</option>
            <option value="DRMGH_PGPM07">DRMGH_PGPM07</option>
            <option value="DRMGH_PGPM08">DRMGH_PGPM08</option>
            <option value="DRMGH_PGPM09">DRMGH_PGPM09</option>
            <option value="DRMGH_PGPM10">DRMGH_PGPM10</option>
            <option value="DRMGH_PGPM11">DRMGH_PGPM11</option>
            <option value="DRMGH_PGPM12">DRMGH_PGPM12</option>
            <option value="KOTRA_PGPM01">KOTRA_PGPM01</option>
            <option value="KOTRA_PGPM02">KOTRA_PGPM02</option>
            <option value="KOTRA_PGPM03">KOTRA_PGPM03</option>
            <option value="KOTRA_PGPM04">KOTRA_PGPM04</option>
            <option value="KOTRA_PGPM05">KOTRA_PGPM05</option>
            <option value="KOTRA_PGPM06">KOTRA_PGPM06</option>
            <option value="KOTRA_PGPM07">KOTRA_PGPM07</option>
            <option value="KOTRA_PGPM08">KOTRA_PGPM08</option>
            <option value="KOTRA_PGPM09">KOTRA_PGPM09</option>
            <option value="KOTRA_PGPM10">KOTRA_PGPM10</option>
            <option value="KOTRA_PGPM11">KOTRA_PGPM11</option>
            <option value="KOTRA_PGPM12">KOTRA_PGPM12</option>
            <option value="KOTRA_PGPM13">KOTRA_PGPM13</option>
            <option value="KOTRA_PGPM14">KOTRA_PGPM14</option>
            <option value="KOTRA_PGPM15">KOTRA_PGPM15</option>
            <option value="TMNR7_PGPM01">TMNR7_PGPM01</option>
            <option value="TMNR7_PGPM02">TMNR7_PGPM02</option>
            <option value="TMNR7_PGPM03">TMNR7_PGPM03</option>
            <option value="TMNR7_PGPM04">TMNR7_PGPM04</option>
            <option value="TMNR7_PGPM05">TMNR7_PGPM05</option>
            <option value="TMNR7_PGPM06">TMNR7_PGPM06</option>
            <option value="TMNR7_PGPM07">TMNR7_PGPM07</option>
            <option value="TMNR7_PGPM08">TMNR7_PGPM08</option>
            <option value="DURG7_PGPM01">DURG7_PGPM01</option>
            <option value="DURG7_PGPM02">DURG7_PGPM02</option>
            <option value="DURG7_PGPM03">DURG7_PGPM03</option>
            <option value="DURG7_PGPM04">DURG7_PGPM04</option>
            <option value="DURG7_PGPM05">DURG7_PGPM05</option>
            <option value="DURG7_PGPM06">DURG7_PGPM06</option>
            <option value="DURG7_PGPM07">DURG7_PGPM07</option>
            <option value="DURG7_PGPM08">DURG7_PGPM08</option>
            <option value="DURG7_PGPM09">DURG7_PGPM09</option>
            <option value="DURG7_PGPM10">DURG7_PGPM10</option>
            <option value="DURG7_PGPM11">DURG7_PGPM11</option>
            <option value="DURG7_PGPM12">DURG7_PGPM12</option>
            <option value="DURG7_PGPM13">DURG7_PGPM13</option>
            <option value="DGHAM_PGPM01">DGHAM_PGPM01</option>
            <option value="DGHAM_PGPM02">DGHAM_PGPM02</option>
            <option value="DGHAM_PGPM03">DGHAM_PGPM03</option>
            <option value="DGHAM_PGPM04">DGHAM_PGPM04</option>
            <option value="DGHAM_PGPM05">DGHAM_PGPM05</option>
            <option value="DGHAM_PGPM06">DGHAM_PGPM06</option>
            <option value="DGHAM_PGPM07">DGHAM_PGPM07</option>
            <option value="ITRSI_PGPM01">ITRSI_PGPM01</option>
            <option value="ITRSI_PGPM02">ITRSI_PGPM02</option>
            <option value="ITRSI_PGPM03">ITRSI_PGPM03</option>
            <option value="ITRSI_PGPM04">ITRSI_PGPM04</option>
            <option value="ITRSI_PGPM05">ITRSI_PGPM05</option>
            <option value="ITRSI_PGPM06">ITRSI_PGPM06</option>
            <option value="JBPR7_PGPM01">JBPR7_PGPM01</option>
            <option value="JBPR7_PGPM02">JBPR7_PGPM02</option>
            <option value="JBPR7_PGPM03">JBPR7_PGPM03</option>
            <option value="JBPR7_PGPM04">JBPR7_PGPM04</option>
            <option value="JBPR7_PGPM05">JBPR7_PGPM05</option>
            <option value="JBPR7_PGPM06">JBPR7_PGPM06</option>
            <option value="JBPR7_PGPM07">JBPR7_PGPM07</option>
            <option value="JBPR7_PGPM08">JBPR7_PGPM08</option>
            <option value="JBPR7_PGPM09">JBPR7_PGPM09</option>
            <option value="JBPR7_PGPM10">JBPR7_PGPM10</option>
            <option value="PIRNA_PGPM01">PIRNA_PGPM01</option>
            <option value="PIRNA_PGPM02">PIRNA_PGPM02</option>
            <option value="PIRNA_PGPM03">PIRNA_PGPM03</option>
            <option value="PIRNA_PGPM04">PIRNA_PGPM04</option>
            <option value="PIRNA_PGPM05">PIRNA_PGPM05</option>
            <option value="PIRNA_PGPM06">PIRNA_PGPM06</option>
            <option value="BHTPR_PGPM01">BHTPR_PGPM01</option>
            <option value="BHTPR_PGPM02">BHTPR_PGPM02</option>
            <option value="ARGBD_PGPM01">ARGBD_PGPM01</option>
            <option value="ARGBD_PGPM02">ARGBD_PGPM02</option>
            <option value="ARGBD_PGPM03">ARGBD_PGPM03</option>
            <option value="ARGBD_PGPM04">ARGBD_PGPM04</option>
            <option value="ARGBD_PGPM05">ARGBD_PGPM05</option>
            <option value="ARGBD_PGPM06">ARGBD_PGPM06</option>
            <option value="ARGBD_PGPM07">ARGBD_PGPM07</option>
            <option value="ARGBD_PGPM08">ARGBD_PGPM08</option>
            <option value="ARGBD_PGPM09">ARGBD_PGPM09</option>
            <option value="ARGBD_PGPM10">ARGBD_PGPM10</option>
            <option value="ARGBD_PGPM11">ARGBD_PGPM11</option>
            <option value="ARGBD_PGPM12">ARGBD_PGPM12</option>
            <option value="KSTPS_GSPM01">KSTPS_GSPM01</option>
            <option value="KSTPS_GSPM02">KSTPS_GSPM02</option>
            <option value="KSTPS_GSPM03">KSTPS_GSPM03</option>
            <option value="KSTPS_GSPM04">KSTPS_GSPM04</option>
            <option value="KSTPS_GSPM05">KSTPS_GSPM05</option>
            <option value="KSTPS_GSPM06">KSTPS_GSPM06</option>
            <option value="BHDRV_PGPM01">BHDRV_PGPM01</option>
            <option value="BHDRV_PGPM02">BHDRV_PGPM02</option>
            <option value="BHDRV_PGPM03">BHDRV_PGPM03</option>
            <option value="BHDRV_PGPM04">BHDRV_PGPM04</option>
            <option value="BHDRV_PGPM05">BHDRV_PGPM05</option>
            <option value="BHDRV_PGPM06">BHDRV_PGPM06</option>
            <option value="BHDRV_PGPM07">BHDRV_PGPM07</option>
            <option value="BHDRV_PGPM08">BHDRV_PGPM08</option>
            <option value="PARLI_PGPM01">PARLI_PGPM01</option>
            <option value="PARLI_PGPM02">PARLI_PGPM02</option>
            <option value="PARLI_PGPM03">PARLI_PGPM03</option>
            <option value="PARLI_PGPM04">PARLI_PGPM04</option>
            <option value="PARLI_PGPM05">PARLI_PGPM05</option>
            <option value="PARLI_PGPM06">PARLI_PGPM06</option>
            <option value="RAIGR_PGPM01">RAIGR_PGPM01</option>
            <option value="RAIGR_PGPM02">RAIGR_PGPM02</option>
            <option value="RAIGR_PGPM03">RAIGR_PGPM03</option>
            <option value="RAIGR_PGPM04">RAIGR_PGPM04</option>
            <option value="RAIGR_PGPM05">RAIGR_PGPM05</option>
            <option value="RAIGR_PGPM06">RAIGR_PGPM06</option>
            <option value="RAIGR_PGPM07">RAIGR_PGPM07</option>
            <option value="RAIGR_PGPM08">RAIGR_PGPM08</option>
            <option value="SEON7_PGPM01">SEON7_PGPM01</option>
            <option value="SEON7_PGPM02">SEON7_PGPM02</option>
            <option value="SEON7_PGPM03">SEON7_PGPM03</option>
            <option value="SEON7_PGPM03">SEON7_PGPM03</option>
            <option value="SEON7_PGPM04">SEON7_PGPM04</option>
            <option value="SEON7_PGPM05">SEON7_PGPM05</option>
            <option value="SEON7_PGPM06">SEON7_PGPM06</option>
            <option value="SEON7_PGPM07">SEON7_PGPM07</option>
            <option value="SEON7_PGPM08">SEON7_PGPM08</option>
            <option value="SOLPR_PGPM02">SOLPR_PGPM02</option>
            <option value="SOLPR_PGPM03">SOLPR_PGPM03</option>
            <option value="SOLPR_PGPM04">SOLPR_PGPM04</option>
            <option value="SOLPR_PGPM05">SOLPR_PGPM05</option>
            <option value="SOLPR_PGPM06">SOLPR_PGPM06</option>
            <option value="SOLPR_PGPM07">SOLPR_PGPM07</option>
            <option value="SOLPR_PGPM08">SOLPR_PGPM08</option>
            <option value="SOLPR_PGPM09">SOLPR_PGPM09</option>
            <option value="SOLPR_PGPM10">SOLPR_PGPM10</option>
            <option value="WARDH_PGPM01">WARDH_PGPM01</option>
            <option value="WARDH_PGPM02">WARDH_PGPM02</option>
            <option value="WARDH_PGPM03">WARDH_PGPM03</option>
            <option value="WARDH_PGPM04">WARDH_PGPM04</option>
            <option value="WARDH_PGPM05">WARDH_PGPM05</option>
            <option value="WARDH_PGPM06">WARDH_PGPM06</option>
            <option value="WARDH_PGPM07">WARDH_PGPM07</option>
            <option value="WARDH_PGPM08">WARDH_PGPM08</option>
            <option value="WARDH_PGPM09">WARDH_PGPM09</option>
            <option value="WARDH_PGPM10">WARDH_PGPM10</option>
            <option value="WARDH_PGPM11">WARDH_PGPM11</option>
            <option value="WARDH_PGPM12">WARDH_PGPM12</option>
            <option value="WARDH_PGPM13">WARDH_PGPM13</option>
            <option value="WARDH_PGPM14">WARDH_PGPM14</option>
            <option value="WARDH_PGPM15">WARDH_PGPM15</option>
            <option value="WARDH_PGPM16">WARDH_PGPM16</option>
            <option value="BACHU_PGPM01">BACHU_PGPM01</option>
            <option value="BACHU_PGPM02">BACHU_PGPM02</option>
            <option value="BACHU_PGPM03">BACHU_PGPM03</option>
            <option value="BACHU_PGPM04">BACHU_PGPM04</option>
            <option value="BACHU_PGPM05">BACHU_PGPM05</option>
            <option value="BACHU_PGPM06">BACHU_PGPM06</option>
            <option value="DAMOH_PGPM01">DAMOH_PGPM01</option>
            <option value="DAMOH_PGPM02">DAMOH_PGPM02</option>
            <option value="DAMOH_PGPM03">DAMOH_PGPM03</option>
            <option value="DAMOH_PGPM04">DAMOH_PGPM04</option>
            <option value="DAMOH_PGPM05">DAMOH_PGPM05</option>
            <option value="DAMOH_PGPM06">DAMOH_PGPM06</option>
            <option value="INDOR_PGPM01">INDOR_PGPM01</option>
            <option value="INDOR_PGPM02">INDOR_PGPM02</option>
            <option value="INDOR_PGPM03">INDOR_PGPM03</option>
            <option value="INDOR_PGPM04">INDOR_PGPM04</option>
            <option value="INDOR_PGPM05">INDOR_PGPM05</option>
            <option value="INDOR_PGPM06">INDOR_PGPM06</option>
            <option value="INDOR_PGPM07">INDOR_PGPM07</option>
            <option value="INDOR_PGPM08">INDOR_PGPM08</option>
            <option value="INDOR_PGPM09">INDOR_PGPM09</option>
            <option value="DAMAN_PGPM01">DAMAN_PGPM01</option>
            <option value="DAMAN_PGPM02">DAMAN_PGPM02</option>
            <option value="SJLPR_PGPM01">SJLPR_PGPM01</option>
            <option value="SJLPR_PGPM02">SJLPR_PGPM02</option>
            <option value="SJLPR_PGPM03">SJLPR_PGPM03</option>
            <option value="SJLPR_PGPM04">SJLPR_PGPM04</option>
            <option value="VDDRA_PGPM01">VDDRA_PGPM01</option>
            <option value="VDDRA_PGPM02">VDDRA_PGPM02</option>
            <option value="VDDRA_PGPM03">VDDRA_PGPM03</option>
            <option value="VAPI4_PGPM01">VAPI4_PGPM01</option>
            <option value="VAPI4_PGPM02">VAPI4_PGPM02</option>
            <option value="VAPI4_PGPM03">VAPI4_PGPM03</option>
            <option value="BINA4_PGPM01">BINA4_PGPM01</option>
            <option value="BINA4_PGPM02">BINA4_PGPM02</option>
            <option value="BINA4_PGPM03">BINA4_PGPM03</option>
            <option value="BINA4_PGPM04">BINA4_PGPM04</option>
            <option value="BINA4_PGPM05">BINA4_PGPM05</option>
            <option value="BINA4_PGPM06">BINA4_PGPM06</option>
            <option value="BINA4_PGPM07">BINA4_PGPM07</option>
            <option value="BINA4_PGPM08">BINA4_PGPM08</option>
            <option value="BINA4_PGPM09">BINA4_PGPM09</option>
            <option value="BINA4_PGPM10">BINA4_PGPM10</option>
            <option value="BINA4_PGPM11">BINA4_PGPM11</option>
            <option value="BINA4_PGPM12">BINA4_PGPM12</option>
            <option value="BINA4_PGPM13">BINA4_PGPM13</option>
            <option value="BINA4_PGPM14">BINA4_PGPM14</option>
            <option value="BINA4_PGPM15">BINA4_PGPM15</option>
            <option value="BINA4_PGPM16">BINA4_PGPM16</option>
            <option value="BLSPR_PGPM01">BLSPR_PGPM01</option>
            <option value="BLSPR_PGPM02">BLSPR_PGPM02</option>
            <option value="BLSPR_PGPM03">BLSPR_PGPM03</option>
            <option value="BLSPR_PGPM04">BLSPR_PGPM04</option>
            <option value="BLSPR_PGPM05">BLSPR_PGPM05</option>
            <option value="BLSPR_PGPM06">BLSPR_PGPM06</option>
            <option value="BLSPR_PGPM07">BLSPR_PGPM07</option>
            <option value="BLSPR_PGPM08">BLSPR_PGPM08</option>
            <option value="BLSPR_PGPM09">BLSPR_PGPM09</option>
            <option value="BLSPR_PGPM10">BLSPR_PGPM10</option>
            <option value="BLSPR_PGPM11">BLSPR_PGPM11</option>
            <option value="JHNOR_GSPM02">JHNOR_GSPM02</option>
            <option value="JHNOR_GSPM03">JHNOR_GSPM03</option>
            <option value="JHNOR_GSPM04">JHNOR_GSPM04</option>
            <option value="PUNE4_PGPM01">PUNE4_PGPM01</option>
            <option value="PUNE4_PGPM02">PUNE4_PGPM02</option>
            <option value="PUNE4_PGPM03">PUNE4_PGPM03</option>
            <option value="PUNE4_PGPM04">PUNE4_PGPM04</option>
            <option value="PUNE4_PGPM05">PUNE4_PGPM05</option>
            <option value="PUNE4_PGPM06">PUNE4_PGPM06</option>
            <option value="VINDP_PGPM01">VINDP_PGPM01</option>
            <option value="VINDP_PGPM02">VINDP_PGPM02</option>
            <option value="VINDP_PGPM03">VINDP_PGPM03</option>
            <option value="VINDP_PGPM04">VINDP_PGPM04</option>
            <option value="VINDP_PGPM05">VINDP_PGPM05</option>
            <option value="VINDP_PGPM06">VINDP_PGPM06</option>
            <option value="VINDP_PGPM07">VINDP_PGPM07</option>
            <option value="VINDP_PGPM08">VINDP_PGPM08</option>
            <option value="VINDP_PGPM09">VINDP_PGPM09</option>
            <option value="BOISR_PGPM01">BOISR_PGPM01</option>
            <option value="BOISR_PGPM02">BOISR_PGPM02</option>
            <option value="BOISR_PGPM03">BOISR_PGPM03</option>
            <option value="BOISR_PGPM04">BOISR_PGPM04</option>
            <option value="BOISR_PGPM05">BOISR_PGPM05</option>
            <option value="STNA7_PGPM01">STNA7_PGPM01</option>
            <option value="STNA7_PGPM02">STNA7_PGPM02</option>
            <option value="STNA7_PGPM03">STNA7_PGPM03</option>
            <option value="STNA7_PGPM04">STNA7_PGPM04</option>
            <option value="STNA7_PGPM05">STNA7_PGPM05</option>
            <option value="STNA7_PGPM06">STNA7_PGPM06</option>
            <option value="STNA7_PGPM07">STNA7_PGPM07</option>
            <option value="STNA7_PGPM08">STNA7_PGPM08</option>
            <option value="STNA7_PGPM09">STNA7_PGPM09</option>
            <option value="STNA7_PGPM10">STNA7_PGPM10</option>
            <option value="STNA7_PGPM11">STNA7_PGPM11</option>
            <option value="STNA7_PGPM12">STNA7_PGPM12</option>
            <option value="RAIPR_PGPM01">RAIPR_PGPM01</option>
            <option value="RAIPR_PGPM02">RAIPR_PGPM02</option>
            <option value="RAIPR_PGPM03">RAIPR_PGPM03</option>
            <option value="RAIPR_PGPM04">RAIPR_PGPM04</option>
            <option value="RAIPR_PGPM05">RAIPR_PGPM05</option>
            <option value="RAIPR_PGPM06">RAIPR_PGPM06</option>
            <option value="RAIPR_PGPM07">RAIPR_PGPM07</option>
            <option value="RAIPR_PGPM08">RAIPR_PGPM08</option>
            <option value="RAIPR_PGPM09">RAIPR_PGPM09</option>
            <option value="RAIPR_PGPM19">RAIPR_PGPM10</option>
            <option value="RAIPR_PGPM11">RAIPR_PGPM11</option>
            <option value="RAIPR_PGPM12">RAIPR_PGPM12</option>
            <option value="NAVSR_PGPM01">NAVSR_PGPM01</option>
            <option value="NAVSR_PGPM02">NAVSR_PGPM02</option>
            <option value="NAVSR_PGPM03">NAVSR_PGPM03</option>
            <option value="RAJGH_PGPM01">RAJGH_PGPM01</option>
            <option value="RAJGH_PGPM02">RAJGH_PGPM02</option>
            <option value="RAJGH_PGPM03">RAJGH_PGPM03</option>
            <option value="RAJGH_PGPM04">RAJGH_PGPM04</option>
            <option value="RAJGH_PGPM05">RAJGH_PGPM05</option>
            <option value="RAJGH_PGPM06">RAJGH_PGPM06</option>
            <option value="CHMPA_PGPM01">CHMPA_PGPM01</option>
            <option value="CHMPA_PGPM02">CHMPA_PGPM02</option>
            <option value="CHMPA_PGPM03">CHMPA_PGPM03</option>
            <option value="CHMPA_PGPM04">CHMPA_PGPM04</option>
            <option value="CHMPA_PGPM05">CHMPA_PGPM05</option>
            <option value="CHMPA_PGPM06">CHMPA_PGPM06</option>
            <option value="CHMPA_PGPM07">CHMPA_PGPM07</option>
            <option value="CHMPA_PGPM08">CHMPA_PGPM08</option>
            <option value="CHMPA_PGPM09">CHMPA_PGPM09</option>
            <option value="CHMPA_PGPM10">CHMPA_PGPM10</option>
            <option value="CHMPA_PGPM11">CHMPA_PGPM11</option>
            <option value="KLPR4_MHPM01">KLPR4_MHPM01</option>
            <option value="KLPR4_MHPM02">KLPR4_MHPM02</option>
            <option value="KLPR4_MHPM03">KLPR4_MHPM03</option>
            <option value="INDR4_MPPM01">INDR4_MPPM01</option>
            <option value="INDR4_MPPM02">INDR4_MPPM02</option>
            <option value="INDR4_MPPM03">INDR4_MPPM03</option>
            <option value="INDR4_MPPM04">INDR4_MPPM04</option>
            <option value="INDR4_MPPM05">INDR4_MPPM05</option>
            <option value="KTN4__MPPM01">KTN4__MPPM01</option>
            <option value="KTN4__MPPM02">KTN4__MPPM02</option>
            <option value="NAG4__MPPM01">NAG4__MPPM01</option>
            <option value="NAG4__MPPM02">NAG4__MPPM02</option>
            <option value="NAG4__MPPM03">NAG4__MPPM03</option>
            <option value="NAG4__MPPM04">NAG4__MPPM04</option>
            <option value="BHPL4_MPPM01">BHPL4_MPPM01</option>
            <option value="BHPL4_MPPM02">BHPL4_MPPM02</option>
            <option value="BHPL4_MPPM03">BHPL4_MPPM03</option>
            <option value="BHPL4_MPPM04">BHPL4_MPPM04</option>
            <option value="BINA__MPPM01">BINA__MPPM01</option>
            <option value="BINA__MPPM02">BINA__MPPM02</option>
            <option value="BINA__MPPM03">BINA__MPPM03</option>
            <option value="BINA__MPPM04">BINA__MPPM04</option>
            <option value="KRBE2_CGPM01">KRBE2_CGPM01</option>
            <option value="KRBE2_CGPM02">KRBE2_CGPM02</option>
            <option value="KRBE2_CGPM03">KRBE2_CGPM03</option>
            <option value="KRBE2_CGPM04">KRBE2_CGPM04</option>
            <option value="KRBE2_CGPM05">KRBE2_CGPM05</option>
            <option value="KRBW4_CGPM01">KRBW4_CGPM01</option>
            <option value="KRBW4_CGPM02">KRBW4_CGPM02</option>
            <option value="BHIL4_CGPM01">BHIL4_CGPM01</option>
            <option value="BHIL4_CGPM02">BHIL4_CGPM02</option>
            <option value="BHIL4_CGPM03">BHIL4_CGPM03</option>
            <option value="BHIL4_CGPM04">BHIL4_CGPM04</option>
            <option value="BHIL4_CGPM05">BHIL4_CGPM05</option>
            <option value="BHIL4_CGPM06">BHIL4_CGPM06</option>
            <option value="AMRLI_GEPM01">AMRLI_GEPM01</option>
            <option value="AMRLI_GEPM02">AMRLI_GEPM02</option>
            <option value="AMRLI_GEPM03">AMRLI_GEPM03</option>
            <option value="AMRLI_GEPM04">AMRLI_GEPM04</option>
            <option value="AMRLI_GEPM05">AMRLI_GEPM05</option>
            <option value="AMRLI_GEPM06">AMRLI_GEPM06</option>
            <option value="ASOJ__GE001">ASOJ__GE001</option>
            <option value="ASOJ__GE002">ASOJ__GE002</option>
            <option value="ASOJ__GE003">ASOJ__GE003</option>
            <option value="ASOJ__GE004">ASOJ__GE004</option>
            <option value="ASOJ__GE005">ASOJ__GE005</option>
            <option value="ASOJ__GE006">ASOJ__GE006</option>
            <option value="VADI__GE001">VADI__GE001</option>
            <option value="VADI__GE002">VADI__GE002</option>
            <option value="VADI__GE003">VADI__GE003</option>
            <option value="VADI__GE004">VADI__GE004</option>
            <option value="VADI__GE005">VADI__GE005</option>
            <option value="DHRW4_MHPM01">DHRW4_MHPM01</option>
            <option value="TRNEL_IPPM01">TRNEL_IPPM01</option>
            <option value="ASOJ_GEPM01">ASOJ_GEPM01</option>
            <option value="KALW4_CS001">KALW4_CS001</option>
            <option value="VSTPS_GSPM01">VSTPS_GSPM01</option>
            <option value="ADANI_GEPM01">ADANI_GEPM01</option>
            <option value="CGPLM_GSPM01">CGPLM_GSPM01</option>
            <option value="GWALR_PGPM01">GWALR_PGPM01</option>
            <option value="GWALR_PGPM02">GWALR_PGPM02</option>
            <option value="GWALR_PGPM03">GWALR_PGPM03</option>
            <option value="GWALR_PGPM04">GWALR_PGPM04</option>
            <option value="GWALR_PGPM05">GWALR_PGPM05</option>
            <option value="GWALR_PGPM06">GWALR_PGPM06</option>
            <option value="RBPH__GEPM01">RBPH__GEPM01</option>
            <option value="RBPH__GEPM02">RBPH__GEPM02</option>
            <option value="RBPH__GEPM03">RBPH__GEPM02</option>
            <option value="KALW4_MHPM01">KALW4_MHPM01</option>
            <option value="KALW4_MHPM02">KALW4_MHPM02</option>
            <option value="PADG4_MHPM01">PADG4_MHPM01</option>
            <option value="PADG4_MHPM02">PADG4_MHPM02</option>
            <option value="PADG4_MHPM03">PADG4_MHPM03</option>
            <option value="PADG4_MHPM04">PADG4_MHPM04</option>
            <option value="PADG4_MHPM05">PADG4_MHPM05</option>
            <option value="PADG4_MHPM06">PADG4_MHPM06</option>
            <option value="PADG4_MHPM07">PADG4_MHPM07</option>
            <option value="TIMB__GE001">TIMB__GE001</option>
            <option value="TIMB__GE002">TIMB__GE002</option>
            <option value="HLDW__GE001">HLDW__GE001</option>
            <option value="HLDW__GE002">HLDW__GE002</option>
            <option value="HLDW__GE003">HLDW__GE003</option>
            <option value="HLDW__GE004">HLDW__GE004</option>
            <option value="VAPI__GE001">VAPI__GE001</option>
            <option value="VAPI__GE002">VAPI__GE002</option>
            <option value="VAPI__GE003">VAPI__GE003</option>
            <option value="JAMN__GE001">JAMN__GE001</option>
            <option value="JAMN__GE002">JAMN__GE002</option>
            <option value="SHVL__GE001">SHVL__GE001</option>
            <option value="SHVL__GE002">SHVL__GE002</option>
            <option value="SHVL__GE003">SHVL__GE003</option>
            <option value="NKTR__GE001">NKTR__GE001</option>
            <option value="NKTR__GE002">NKTR__GE002</option>
            <option value="NKTR__GE003">NKTR__GE003</option>
            <option value="KNSR_GE001">KNSR_GE001</option>
            <option value="KNSR_GE002">KNSR_GE002</option>
            <option value="KNSR_GE003">KNSR_GE003</option>
            <option value="KNSR_GE004">KNSR_GE004</option>
            <option value="KNSR__GE005">KNSR__GE005</option>
            <option value="KNSR__GE006">KNSR__GE006</option>
            <option value="JAMB__GE001">JAMB__GE002</option>
            <option value="JAMB__GE002">JAMB__GE002</option>
            <option value="JAMB__GE003">JAMB__GE003</option>
            <option value="KIM___GE001">KIM___GE001</option>
            <option value="KIM___GE002">KIM___GE002</option>
            <option value="KIM___GE003">KIM___GE003</option>
            <option value="VAV___GE001">VAV___GE001</option>
            <option value="VAV___GE002">VAV___GE002</option>
            <option value="VAV___GE003">VAV___GE003</option>
            <option value="SVKD__GE001">SVKD__GE001</option>
            <option value="SVKD__GE002">SVKD__GE002</option>
            <option value="SVKD__GE003">SVKD__GE003</option>
            <option value="NNKH__GE001">NNKH__GE001</option>
            <option value="NNKH__GE002">NNKH__GE002</option>
            <option value="NNKH__GE003">NNKH__GE003</option>
            <option value="MEHS__GE001">MEHS__GE001</option>
            <option value="MEHS__GE002">MEHS__GE002</option>
            <option value="RNSN__GE001">RNSN__GE001</option>
            <option value="RNSN__GE002">RNSN__GE002</option>
            <option value="RNSN__GE003">RNSN__GE003</option>
            <option value="KSOR__GE001">KSOR__GE001</option>
            <option value="KSOR__GE002">KSOR__GE002</option>
            <option value="KSOR__GE003">KSOR__GE003</option>
            <option value="KSOR__GE004">KSOR__GE004</option>
            <option value="KSOR__GE005">KSOR__GE005</option>
            <option value="SOJA__GE001">SOJA__GE001</option>
            <option value="SOJA__GE002">SOJA__GE002</option>
            <option value="SOJA__GE003">SOJA__GE003</option>
            <option value="SOJA__GE004">SOJA__GE004</option>
            <option value="SOJA__GE005">SOJA__GE005</option>
            <option value="SOJA__GE006">SOJA__GE006</option>
            <option value="WTPS__GE001">WTPS__GE001</option>
            <option value="WTPS__GE002">WTPS__GE002</option>
            <option value="WTPS__GE003">WTPS__GE003</option>
            <option value="WTPS__GE004">WTPS__GE004</option>
            <option value="MNSR__GE001">MNSR__GE001</option>
            <option value="MNSR__GE002">MNSR__GE002</option>
            <option value="MNSR__GE003">MNSR__GE003</option>
            <option value="MNSR__GE004">MNSR__GE004</option>
            <option value="MNSR__GE005">MNSR__GE005</option>
            <option value="MNSR__GE006">MNSR__GE006</option>
            <option value="KSMB__GE001">KSMB__GE001</option>
            <option value="KSMB__GE002">KSMB__GE002</option>
            <option value="KSMB__GE003">KSMB__GE003</option>
            <option value="KSMB__GE004">KSMB__GE004</option>
            <option value="KSMB__GE005">KSMB__GE005</option>
            <option value="ADANI_GE001">ADANI_GE001</option>
            <option value="ADANI_GE002">ADANI_GE002</option>
            <option value="ADANI_GE003">ADANI_GE003</option>
            <option value="ADANI_GE004">ADANI_GE004</option>
            <option value="ADANI_GE005">ADANI_GE005</option>
            <option value="ADANI_GE006">ADANI_GE006</option>
            <option value="ETPR__GE001">ETPR__GE001</option>
            <option value="ETPR__GE002">ETPR__GE002</option>
            <option value="HLDA__GE001">HLDA__GE001</option>
            <option value="HLDA__GE002">HLDA__GE002</option>
            <option value="HLDA__GE003">HLDA__GE003</option>
            <option value="HLDA__GE004">HLDA__GE004</option>
            <option value="HLDA__GE005">HLDA__GE005</option>
            <option value="JETPR_GE003">JETPR_GE003</option>
            <option value="JETPR_GE004">JETPR_GE004</option>
            <option value="JETPR_GE005">JETPR_GE005</option>
            <option value="CHOR__GE001">CHOR__GE001</option>
            <option value="CHOR__GE002">CHOR__GE002</option>
            <option value="CHOR__GE003">CHOR__GE003</option>
            <option value="CHOR__GE004">CHOR__GE004</option>
            <option value="CHOR__GE005">CHOR__GE005</option>
            <option value="CHOR__GE006">CHOR__GE006</option>
            <option value="CHOR__GE007">CHOR__GE007</option>
            <option value="PUNE7_PGPM01">PUNE7_PGPM01</option>
            <option value="PUNE7_PGPM02">PUNE7_PGPM02</option>
            <option value="PUNE7_PGPM03">PUNE7_PGPM03</option>
            <option value="PUNE7_PGPM04">PUNE7_PGPM04</option>
            <option value="PUNE7_PGPM05">PUNE7_PGPM05</option>
            <option value="PUNE7_PGPM06">PUNE7_PGPM06</option>
            <option value="PADG7_PGPM01">PADG7_PGPM01</option>
            <option value="PADG7_PGPM02">PADG7_PGPM02</option>
            <option value="LONKD_MHPM01">LONKD_MHPM01</option>
            <option value="LONKD_MHPM02">LONKD_MHPM02</option>
            <option value="LONKD_MHPM03">LONKD_MHPM03</option>
            <option value="LONKD_MHPM04">LONKD_MHPM04</option>
            <option value="NHPTL_PGPM01">NHPTL_PGPM01</option>
            <option value="JABALPUR">JABALPUR</option>
            <option value="DEHGAM">DEHGAM</option>
            <option value="BVT">BVT</option>
            <option value="RAIPUR_NLDC">RAIPUR_NLDC</option>
            <option value="KSTPS">KSTPS</option>
            <option value="MPPTCL BINA">MPPTCL BINA</option>
            <option value="SLPR7">SLPR7</option>
            <option value="SLPR4">SLPR4</option>
            <option value="BOISAR">BOISAR</option>
            <option value="MRNA4_IS001">MRNA4_IS001</option>
            <option value="RKMPL_IPPM01">RKMPL_IPPM01</option>
            <option value="DHUL7_PGPM01">DHUL7_PGPM01</option>
            <option value="DHUL7_PGPM02">DHUL7_PGPM02</option>
            <option value="DHUL7_PGPM03">DHUL7_PGPM03</option>
            <option value="DHUL7_PGPM04">DHUL7_PGPM04</option>
            <option value="DHUL7_PGPM05">DHUL7_PGPM05</option>
            <option value="SIPAT_GSPM01">SIPAT_GSPM01</option>
            <option value="SIPAT_GSPM02">SIPAT_GSPM02</option>
            <option value="SIPAT_GSPM03">SIPAT_GSPM03</option>
            <option value="SIPAT_GSPM04">SIPAT_GSPM04</option>
            <option value="KLPR7_PGPM01">KLPR7_PGPM01</option>
            <option value="KLPR7_PGPM02">KLPR7_PGPM02</option>
            <option value="LARA4_GSPM01">LARA4_GSPM01</option>
            <option value="LARA4_GSPM02">LARA4_GSPM02</option>
            <option value="LARA4_GSPM03">LARA4_GSPM03</option>
            <option value="LARA4_GSPM04">LARA4_GSPM04</option>
            <option value="PARL7_PGPM01">PARL7_PGPM01</option>
            <option value="PARL7_PGPM02">PARL7_PGPM02</option>
            <option value="PARL7_PGPM03">PARL7_PGPM03</option>
            <option value="PARL7_PGPM04">PARL7_PGPM04</option>
            <option value="PARL7_PGPM05">PARL7_PGPM05</option>
            <option value="PARL7_PGPM06">PARL7_PGPM06</option>
            <option value="WARO7_PGPM01">WARO7_PGPM01</option>
            <option value="WARO7_PGPM02">WARO7_PGPM02</option>
            <option value="WARO7_PGPM03">WARO7_PGPM03</option>
            <option value="WARO7_PGPM04">WARO7_PGPM04</option>
            <option value="WARO7_PGPM05">WARO7_PGPM05</option>
            <option value="WARO7_PGPM06">WARO7_PGPM06</option>
            <option value="WARO7_PGPM07">WARO7_PGPM07</option>
            <option value="WARO7_PGPM08">WARO7_PGPM08</option>
            <option value="WARO7_PGPM09">WARO7_PGPM09</option>
            <option value="WARO7_PGPM10">WARO7_PGPM10</option>
            <option value="REWA4_PGPM01">REWA4_PGPM01</option>
            <option value="REWA4_PGPM02">REWA4_PGPM02</option>
            <option value="RJND7_ISPM01">RJND7_ISPM01</option>
            <option value="RJND7_ISPM02">RJND7_ISPM02</option>
            <option value="RJND7_ISPM03">RJND7_ISPM03</option>
            <option value="KSKMN_IPPM01">KSKMN_IPPM01</option>
            <option value="CHDPR_MHPM01">CHDPR_MHPM01</option>
            <option value="CHDPR_MHPM02">CHDPR_MHPM02</option>
            <option value="CHDPR_MHPM03">CHDPR_MHPM03</option>
            <option value="CHDPR_MHPM04">CHDPR_MHPM04</option>
            <option value="CHDPR_MHPM05">CHDPR_MHPM05</option>
            <option value="VRSN_GEPM01">VRSN_GEPM01</option>
            <option value="VRSN_GEPM02">VRSN_GEPM02</option>
            <option value="VRSN_GEPM03">VRSN_GEPM03</option>
            <option value="BHVD2_IP001">BHVD2_IP001</option>
            <option value="BHVD2_IP002">BHVD2_IP002</option>
            <option value="KHRGN_GS001">KHRGN_GS001</option>
            <option value="KHRGN_GS002">KHRGN_GS002</option>
            <option value="BLSPR_PG012">BLSPR_PG012</option>
            <option value="BLSPR_PG013">BLSPR_PG013</option>
            <option value="NARP2_IP001">NARP2_IP001</option>
            <option value="SGTP__MPPM01">SGTP__MPPM01</option>
            <option value="SGTP__MPPM02">SGTP__MPPM02</option>
            <option value="SGTP__MPPM03">SGTP__MPPM03</option>
            <option value="SGTP__MPPM04">SGTP__MPPM04</option>
            <option value="SGTP__MPPM05">SGTP__MPPM05</option>
            <option value="SGTP__MPPM06">SGTP__MPPM06</option>
            <option value="SGTP__MPPM07">SGTP__MPPM07</option>
            <option value="VSTPS_GSPM01">VSTPS_GSPM01</option>
            <option value="VSTPS_GSPM02">VSTPS_GSPM02</option>
            <option value="VSTPS_GSPM03">VSTPS_GSPM03</option>
            <option value="VSTPS_GSPM04">VSTPS_GSPM04</option>
            <option value="VSTPS_GSPM05">VSTPS_GSPM05</option>
            <option value="VADV2_IP001">VADV2_IP001</option>
            <option value="RTDY2_IP001">RTDY2_IP001</option>
            <option value="KHND7_PG001">KHND7_PG001</option>
            <option value="KHND7_PG002">KHND7_PG002</option>
            <option value="KHND7_PG003">KHND7_PG003</option>
            <option value="KHND7_PG004">KHND7_PG004</option>
            <option value="KHND7_PG005">KHND7_PG005</option>
            <option value="KHND7_PG006">KHND7_PG006</option>
            <option value="KHND7_PG007">KHND7_PG007</option>
            <option value="KHND7_PG008">KHND7_PG008</option>
            <option value="KHND7_PG009">KHND7_PG009</option>
            <option value="KHND7_PG010">KHND7_PG010</option>
            <option value="GDRWD_GS001">GDRWD_GS001</option>
            <option value="GDRWD_GS002">GDRWD_GS002</option>
            <option value="GDRWD_GS003">GDRWD_GS003</option>
            <option value="GDRWD_GS004">GDRWD_GS004</option>
            <option value="DYPR2_IP001">DYPR2_IP001</option>
            <option value="RGRDC_PG001">RGRDC_PG001</option>
            <option value="RGRDC_PG002">RGRDC_PG002</option>
            <option value="RGRDC_PG003">RGRDC_PG003</option>
            <option value="RGRDC_PG004">RGRDC_PG004</option>
            <option value="RGRDC_PG005">RGRDC_PG005</option>
            <option value="RGRDC_PG006">RGRDC_PG006</option>
            <option value="VLKN2_RE001">VLKN2_RE001</option>
            <option value="RDNSD_PG001">RDNSD_PG001</option>
            <option value="RDNSD_PG002">RDNSD_PG002</option>
            <option value="BNSK7_PG001">BNSK7_PG001</option>
            <option value="BNSK7_PG002">BNSK7_PG002</option>
        </select>
        </div>
        <div class="form-group col-md-3">
            <input type="radio" id="AVAILABILITY_PERC" name="col" value="AVAILABILITY_PERC">
            <label for="AVAILABILITY_PERC">Availability (%)</label>
            <input type="radio" id="DATA_VALID_PERC" name="col" value="DATA_VALID_PERC">
            <label for="DATA_VALID_PERC">Data Valid (%)</label><br>
            <input type="radio" id="DATA_ERROR_PERC" name="col" value="DATA_ERROR_PERC">
            <label for="DATA_ERROR_PERC">Data Error (%)</label>
            <input type="radio" id="GPS_LOCKED_PERC" name="col" value="GPS_LOCKED_PERC">
            <label for="GPS_LOCKED_PERC">GPS Locked (%)</label><br>
        </div>
    </div>
    <input type="submit" class = "btn btn-success" value="submit">
</form>

{% if data %}
    <h3><p>Attribute: {{col}}</p></h3>
{% endif %}

<div id='pmuDiv'></div>

{% if printData %}
    <div>
        <table id="example" class="table table-bordered table-hover display w-auto">
            <thead>
                <tr>
                <th class="th-sm">Date</th>
                <th class="th-sm">PMU Location</th>
                <th class="th-sm">{{col}}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in printData %}
                <tr>
                    <th>{{row['DATA_DATE']}}</th>
                    <th>{{row['PMU_LOCATION']}}</th>
                    <th>{{row[printCol]}}</th>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                <th class="th-sm">Date</th>
                <th class="th-sm">PMU Location</th>
                <th class="th-sm">{{col}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endif %}

{% block scripts %}
<script src="static/app/multiSelect.js"></script>
<script src="static/app/plotly-latest.min.js"></script>
<script src="static/node_modules/plotly.js-dist/plotly.js"></script>
{% if data %}
    {% set dfData = data %}
    <script>
        var dfData_g = {{ dfData|safe }};
        window.onload = function() {
            loadPlotData();
        }
    </script>
    <script src="static/app/index.js"></script>
    <script src="static/node_modules/plotly.js-dist/plotly.js"></script>
    <link rel="stylesheet" href="static/node_modules/chosen-js/chosen.min.css">
    <script src="static/node_modules/chosen-js/chosen.jquery.min.js"></script>
    <script src="static/app/plotly.min.js"></script>
    <link rel="stylesheet" href="jquery.dropdown.css">
    <script src="jquery.dropdown.js"></script>
{% endif %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/datatables.net-dt/css/jquery.dataTables.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.flash.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jszip/dist/jszip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/pdfmake.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="static/app/plottedData.js"></script>
    <style>
        thead input {
            padding: 2px;
            box-sizing: border-box;
            font-size: small;
            width: 100%
        }
    </style>

{% endblock %}


{% endblock %}

