{% extends "layoutBase.html.j2" %}
{% block title %}PMU PLOT{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<style type='text/css'>
    h1 {
    color : black;
    }
</style>
<h1>Display PMU Data Graph</h1>

<div class="row align-content-center">
    <form class="form-inline" method="POST">
        <p>Start Date <input name="startDate" class="form-inline bg-light border-1 mr-2" type="date" /></p>
        <p>End Date <input name="endDate" class="form-inline bg-light border-1 mr-3" type="date" /></p>
        <div class="menu">
        <label for="pmu">Choose PMU LOCATION(s):</label>
            <select multiple class="chosen-select" name="pmu" id="pmu" size="6">
                <option value="">Select PMUs</option>
                <option value="MPUSA_PGPM01">MPUSA_PGPM01</option>
                <option value="JBLPR_PGPM01">JBLPR_PGPM01</option>
                <option value="JBLPR_PGPM02">JBLPR_PGPM02</option>
                <option value="JBLPR_PGPM03">JBLPR_PGPM03</option>
                <option value="JBLPR_PGPM04">JBLPR_PGPM04</option>
                <option value="JBLPR_PGPM05">JBLPR_PGPM05</option>
                <option value="KALA4_PGPM01">KALA4_PGPM01</option>
                <option value="KALA4_PGPM02">KALA4_PGPM02</option>
                <option value="KAWAS_GSPM01">KAWAS_GSPM01</option>
                <option value="KAWAS_GSPM02">KAWAS_GSPM02</option>
                <option value="KHNDW_PGPM01">KHNDW_PGPM01</option>
                <option value="KHNDW_PGPM02">KHNDW_PGPM02</option>
                <option value="KHNDW_PGPM03">KHNDW_PGPM03</option>
                <option value="KHNDW_PGPM04">KHNDW_PGPM04</option>
                <option value="KHNDW_PGPM05">KHNDW_PGPM05</option>
                <option value="KHNDW_PGPM06">KHNDW_PGPM06</option>
                <option value="DRMGH_PGPM01">DRMGH_PGPM01</option>
                <option value="DRMGH_PGPM02">DRMGH_PGPM02</option>
                <option value="DRMGH_PGPM03">DRMGH_PGPM03</option>
                <option value="DRMGH_PGPM04">DRMGH_PGPM04</option>
                <option value="DRMGH_PGPM05">DRMGH_PGPM05</option>
                <option value="DRMGH_PGPM06">DRMGH_PGPM06</option>
                <option value="DRMGH_PGPM07">DRMGH_PGPM07</option>
                <option value="DRMGH_PGPM08">DRMGH_PGPM08</option>
                <option value="DRMGH_PGPM09">DRMGH_PGPM09</option>
                <option value="DRMGH_PGPM10">DRMGH_PGPM10</option>
                <option value="DRMGH_PGPM11">DRMGH_PGPM11</option>
                <option value="DRMGH_PGPM12">DRMGH_PGPM12</option>
                <option value="KOTRA_PGPM01">KOTRA_PGPM01</option>
                <option value="KOTRA_PGPM02">KOTRA_PGPM02</option>
                <option value="KOTRA_PGPM03">KOTRA_PGPM03</option>
                <option value="KOTRA_PGPM04">KOTRA_PGPM04</option>
                <option value="KOTRA_PGPM05">KOTRA_PGPM05</option>
                <option value="KOTRA_PGPM06">KOTRA_PGPM06</option>
                <option value="KOTRA_PGPM07">KOTRA_PGPM07</option>
                <option value="KOTRA_PGPM08">KOTRA_PGPM08</option>
                <option value="KOTRA_PGPM09">KOTRA_PGPM09</option>
                <option value="KOTRA_PGPM10">KOTRA_PGPM10</option>
                <option value="KOTRA_PGPM11">KOTRA_PGPM11</option>
                <option value="KOTRA_PGPM12">KOTRA_PGPM12</option>
                <option value="KOTRA_PGPM13">KOTRA_PGPM13</option>
                <option value="KOTRA_PGPM14">KOTRA_PGPM14</option>
                <option value="KOTRA_PGPM15">KOTRA_PGPM15</option>
                <option value="TMNR7_PGPM01">TMNR7_PGPM01</option>
                <option value="TMNR7_PGPM02">TMNR7_PGPM02</option>
                <option value="TMNR7_PGPM03">TMNR7_PGPM03</option>
                <option value="TMNR7_PGPM04">TMNR7_PGPM04</option>
                <option value="TMNR7_PGPM05">TMNR7_PGPM05</option>
                <option value="TMNR7_PGPM06">TMNR7_PGPM06</option>
                <option value="TMNR7_PGPM07">TMNR7_PGPM07</option>
                <option value="TMNR7_PGPM08">TMNR7_PGPM08</option>
                <option value="DURG7_PGPM01">DURG7_PGPM01</option>
                <option value="DURG7_PGPM02">DURG7_PGPM02</option>
                <option value="DURG7_PGPM03">DURG7_PGPM03</option>
                <option value="DURG7_PGPM04">DURG7_PGPM04</option>
                <option value="DURG7_PGPM05">DURG7_PGPM05</option>
                <option value="DURG7_PGPM06">DURG7_PGPM06</option>
                <option value="DURG7_PGPM07">DURG7_PGPM07</option>
                <option value="DURG7_PGPM08">DURG7_PGPM08</option>
                <option value="DURG7_PGPM09">DURG7_PGPM09</option>
                <option value="DGHAM_PGPM01">DGHAM_PGPM01</option>
                <option value="DGHAM_PGPM02">DGHAM_PGPM02</option>
                <option value="DGHAM_PGPM03">DGHAM_PGPM03</option>
                <option value="DGHAM_PGPM04">DGHAM_PGPM04</option>
                <option value="DGHAM_PGPM05">DGHAM_PGPM05</option>
                <option value="DGHAM_PGPM06">DGHAM_PGPM06</option>
                <option value="DGHAM_PGPM07">DGHAM_PGPM07</option>
                <option value="ITRSI_PGPM01">ITRSI_PGPM01</option>
                <option value="ITRSI_PGPM02">ITRSI_PGPM02</option>
                <option value="ITRSI_PGPM03">ITRSI_PGPM03</option>
                <option value="ITRSI_PGPM04">ITRSI_PGPM04</option>
                <option value="ITRSI_PGPM05">ITRSI_PGPM05</option>
                <option value="ITRSI_PGPM06">ITRSI_PGPM06</option>
                <option value="JBPR7_PGPM01">JBPR7_PGPM01</option>
                <option value="JBPR7_PGPM02">JBPR7_PGPM02</option>
                <option value="JBPR7_PGPM03">JBPR7_PGPM03</option>
                <option value="JBPR7_PGPM04">JBPR7_PGPM04</option>
                <option value="JBPR7_PGPM05">JBPR7_PGPM05</option>
                <option value="JBPR7_PGPM06">JBPR7_PGPM06</option>
                <option value="JBPR7_PGPM07">JBPR7_PGPM07</option>
                <option value="JBPR7_PGPM08">JBPR7_PGPM08</option>
                <option value="JBPR7_PGPM09">JBPR7_PGPM09</option>
                <option value="JBPR7_PGPM10">JBPR7_PGPM10</option>
                <option value="PIRNA_PGPM01">PIRNA_PGPM01</option>
                <option value="PIRNA_PGPM02">PIRNA_PGPM02</option>
                <option value="PIRNA_PGPM03">PIRNA_PGPM03</option>
                <option value="PIRNA_PGPM04">PIRNA_PGPM04</option>
                <option value="PIRNA_PGPM05">PIRNA_PGPM05</option>
                <option value="PIRNA_PGPM06">PIRNA_PGPM06</option>
                <option value="BHTPR_PGPM01">BHTPR_PGPM01</option>
                <option value="BHTPR_PGPM02">BHTPR_PGPM02</option>
                <option value="ARGBD_PGPM01">ARGBD_PGPM01</option>
                <option value="ARGBD_PGPM02">ARGBD_PGPM02</option>
                <option value="ARGBD_PGPM03">ARGBD_PGPM03</option>
                <option value="ARGBD_PGPM04">ARGBD_PGPM04</option>
                <option value="KSTPS_GSPM01">KSTPS_GSPM01</option>
                <option value="KSTPS_GSPM02">KSTPS_GSPM02</option>
                <option value="KSTPS_GSPM03">KSTPS_GSPM03</option>
                <option value="KSTPS_GSPM04">KSTPS_GSPM04</option>
                <option value="KSTPS_GSPM05">KSTPS_GSPM05</option>
                <option value="KSTPS_GSPM06">KSTPS_GSPM06</option>

            </select>
            <p align= "right">
            <label for="col">Select Attribute</label>
            <select class="chosen-select" name="col" id="col">
                <option value="">Select PMUs</option>
                <option value="AVAILABILITY_PERC">Availability %</option>
                <option value="DATA_VALID_PERC">Data Valid (%)</option>
                <option value="DATA_ERROR_PERC">Data Error (%)</option>
                <option value="GPS_LOCKED_PERC">GPS Locked (%)</option>
            <input type="submit" value="submit"></p>
        </div>
    </form>
</div>
<div id='pmuDiv'></div>
<script src="static/app/plotly-latest.min.js"></script>

{% block scripts %}
{% if data %}
    <p><strong> Start Date: {{startDate}}          End Date: {{endDate}}</p>
    {% set dfData = data %}
    <script>
        var dfData_g = {{ dfData|safe }};
        window.onload = function() {
            loadPlotData();
        }
    </script>
    <script src="static/app/index.js"></script>
{% endif %}

{% endblock %}


{% endblock %}